In [3]:
import pandas as pd

df = pd.read_excel("kependudukan_dki.xlsx")

df.head()

   No Nama Kecamatan       Nama Kelurahan       Demografik  Jumlah
0   1  CEMPAKA PUTIH  CEMPAKA PUTIH TIMUR  LAKI-LAKI 35–39    3245
1   2  CEMPAKA PUTIH  CEMPAKA PUTIH TIMUR  PEREMPUAN 35–39    2345
2   3      kEMAYORAN             RAWASARI  LAKI-LAKI 35–39    3111
3   4      KEMAYORAN             RAWASARI  PEREMPUAN 35–39    2234
4   5         GAMBIR               CIDENG  LAKI-LAKI 35–39    2980

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No              18 non-null     int64
 1   Nama Kecamatan  18 non-null     object
 2   Nama Kelurahan  18 non-null     object
 3   Demografik      18 non-null     object
 4   Jumlah          18 non-null     int64
dtypes: int64(2), object(3)
memory usage: 852.0+ bytes

In [16]:
df['Nama Kecamatan'] = df['Nama Kecamatan'].str.strip().str.upper()
df['Nama Kelurahan'] = df['Nama Kelurahan'].str.strip().str.upper()

In [17]:
df.duplicated().sum()

np.int64(0)

In [18]:
df = df.drop_duplicates()

In [19]:
df.isnull().sum()

No                0
Nama Kecamatan    0
Nama Kelurahan    0
Demografik        0
Jumlah            0
dtype: int64

In [23]:
print("Nilai Minimum:", df['Jumlah'].min())
print("Nilai Maksimum:", df['Jumlah'].max())
print("Rata-rata:", df['Jumlah'].mean())

Nilai Minimum: 123
Nilai Maksimum: 3245
Rata-rata: 2181.3333333333335

In [35]:
grouped = df.groupby('Nama Kecamatan')['Jumlah'].sum().reset_index
grouped

<bound method Series.reset_index of Nama Kecamatan
CEMPAKA PUTIH      8835
GAMBIR             5000
KEMAYORAN          5345
KEP. SERIBU UTR    2800
KOJA                454
PADEMANGAN         7000
SAWAH BESAR        4300
TANAH ABANG        5530
Name: Jumlah, dtype: int64>

In [37]:
print("Total Hasil", df['Jumlah'].sum())

Total Hasil 39264

In [42]:
pd.set_option('display.max_rows',None)

In [43]:
df

    No   Nama Kecamatan       Nama Kelurahan       Demografik  Jumlah
0    1    CEMPAKA PUTIH  CEMPAKA PUTIH TIMUR  LAKI-LAKI 35–39    3245
1    2    CEMPAKA PUTIH  CEMPAKA PUTIH TIMUR  PEREMPUAN 35–39    2345
2    3        KEMAYORAN             RAWASARI  LAKI-LAKI 35–39    3111
3    4        KEMAYORAN             RAWASARI  PEREMPUAN 35–39    2234
4    5           GAMBIR               CIDENG  LAKI-LAKI 35–39    2980
5    6           GAMBIR               CIDENG  PEREMPUAN 35–39    2020
6    7             KOJA         TUGU SELATAN  LAKI-LAKI 35–39     331
7    8             KOJA         TUGU SELATAN  PEREMPUAN 35–39     123
8    9       PADEMANGAN     PADEMANGAN TIMUR  LAKI-LAKI 35–39    3000
9   10       PADEMANGAN     PADEMANGAN TIMUR  PEREMPUAN 35–39    2000
10  11  KEP. SERIBU UTR         PULAU TIDUNG  LAKI-LAKI 35–39    1500
11  12  KEP. SERIBU UTR         PULAU TIDUNG  PEREMPUAN 35–39    1300
12  13      SAWAH BESAR   MANGGA DUA SELATAN  LAKI-LAKI 35–39    2200
13  14      SAWAH BESAR   MANGGA DUA SELATAN  PEREMPUAN 35–39    2100
14  15      TANAH ABANG           PETAMBURAN  LAKI-LAKI 35–39    3240
15  16      TANAH ABANG           PETAMBURAN  PEREMPUAN 35–39    2290
16  17    CEMPAKA PUTIH  CEMPAKA PUTIH TIMUR  LAKI-LAKI 35–39    3245
17  18       PADEMANGAN     PADEMANGAN TIMUR  PEREMPUAN 35–39    2000